# البيئة المعزولة
venv/
.venv/

# ملفات الإعدادات الحساسة
.env
config.json

# ملفات النظام المؤقتة
__pycache__/
*.pyc
.vscode/

# تجاهل المشاريع التجريبية التي ننشئها بالأداة
My*/
*App/
*Project/

# تجاهل ملفات بناء المكتبة
archiforge.egg-info/
dist/
build/